@model Quiron_Medical.Models.Geography.City

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Ciudad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneCode)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.StateID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StateID)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @*@Html.ActionLink("Back to List", "Index")*@
    @Html.ActionLink("Volver", "BackToState", new { StateID = Model.StateID })
</p>
